<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PinYinTableSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51BE9A451C4DA66C00BF3BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51BE9A5E1C4DA66C00BF3BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51BE9A691C4DA66C00BF3BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
